<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Timetable</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
  <div id="layout">
    <a href="#menu" id="menuLink" class="menu-link">
      <span></span>
    </a>

    <div id="menu">
      <div class="pure-menu pure-menu-open">
        <%= link_to 'Timetable', root_path, class: 'pure-menu-heading' %>

        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Create Timetable', new_timetable_path %></li>
          <li><%= link_to 'About', about_path %></li>
        </ul>
      </div>
    </div>

    <div id="main">
      <%= yield %>
    </div>
  </div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <% if Rails.env.production? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58938894-1', 'auto');
      ga('send', 'pageview');
    </script>
  <% end %>
</body>
</html>
